@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'paybooc-Bold';
  font-size: 30px;
}
.title{
  margin-left: 45%;
  padding-bottom: 100px;
  width:10px;
}
.foodhead{
  margin-left: 39%;
  display: grid;
  grid-template-columns:24px 300px;
  font-size: 22px;
}
.slide{
    width: 600px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
  .slide ul{
    width: 5000px;
    position: absolute;
    top:0;
    left:0;
    font-size: 0;
  }
  .slide ul li{
    display: inline-block;
  }
  #back{
    position: absolute;
    top: 250px;
    left: 0;
    cursor: pointer;
    z-index: 1;
  }
  #next{
    position: absolute;
    top: 250px;
    right: 0;
    cursor: pointer;
    z-index: 1;
  }

  .food_introduce{
    margin-left: 38%;
    display: grid;
    grid-template-columns:178px 500px;
    grid-row-gap: 20px;
    font-size: 24px;
  }