<!DOCTYPE html>
<html>
    <head>
        <meta chatset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css%22%3E">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js%22%3E"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js%22%3E"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js%22%3E"></script>
        <style>
            .left{
                width : 25%;
                height : 100%;
                background-color: black;
                color : white;
            }
            .main{
                position : relative;
                margin-left : 15%;
                margin-right : 15%;
                width : 75%;
                background-color: skyblue;

            }
        </style>
    </head>
    <body>
       

        <div style ="float : left; border : 1px;color:orange;", class = "main">
            <div style ="float : left; width : 33%;color : black">　</div>
            <div style ="float : left; width : 33.3%;background-color: white;"><h1 style = " text-align: center" >전주어때(가제)</h1></div>
            <div style ="float : left; width : 33%; color : black">　</div>
            

            <div><br><br><br><br><br><br><!-- 가운데 메뉴바?-->
                <button style = "float : left; width : 33.3%">
                   <h3> 위치</h3>
                </button>
                <button style = "float : left; width : 33.3%">
                    <h3> 인플루엔서</h3>
                </button>
                <button style = "float : left; width : 33.3%"> 
                    <h3> 랜덤</h3>
                </button>
            </div>
        
            <div>

                
            </div>
            </div>


    </body>


</html>