<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="aboutJJ.css">
    <title>전주 어때</title>
</head>
<body>
    <div class ="title"> <a href="index.html"><img src="./img/전주어떄 title.jpg"></a></div>
    <p>4페이지 입니다</p>
    <div class="imgpart">
        <div class="imgpop"></div>
        <div class="imgpop"></div>
        <div class="imgpop"></div>
        <div class="imgpop"></div>
        <div class="imgpop"></div>
        <div class="imgpop"></div>
        <div class="imgpop"></div>
        <div class="imgpop"></div>
    </div>
    <ul class="pagination">
        <li><a href="mainindex.html">1</a></li>
        <li><a href="page2.html">2</a></li>
        <li><a href="page3.html">3</a></li>
        <li><a href="page4.html">4</a></li>
        <li><a href="page5.html">5</a></li>
    </ul>
</body>
</html>